$darkBlue: #00083E;
$lightBlue: #EEEFFF;
$ghostWhite: #FCFCFC;
$darkGrey: #1C1C1C;
$Grey: #1C1C1C;

/* Content */
$headerFontFamily: "Encode Sans Semibold", sans-serif;
$headerFontSize: 3rem;

$bodyFont: "Raleway Regular", serif;
$bodyFontSize: 1.5rem;

/* Calculator: */
$calcBorderRadius: 10px;
$calcFont: "VT323", monospace; /*used for both calculator head and tape body*/

$calcBtnWidth: 70px;
$calcBtnHeight: 48px;
$calcBtnFont: "Encode Sans", sans-serif;
$calcBtnFontSize: 2rem; /* 32px */

$calcScreenWidth: 325px;
$calcScreenHeight: 82px;
$calcScreenFontSize: 2rem;

$calcTapeFontSize: 1.5rem;



